* {
    font-family: "Playwrite NZ Basic";
    margin: 0;
    padding: 0;
    color: white
}

html,
body {
    height: 100%;
    overflow: hidden;
}

div {
    color: inherit;
}

::selection {
    background-color: rgba(0 0 0 / 0.3);
}

body {
    background-image: linear-gradient(rgb(255, 69, 69) 50%, rgb(131, 11, 11));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hearts-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.bg-heart {
    position: fixed;

    color: rgba(255 255 255 / 0.17);

    transition: all 250ms ease, transform 2500ms ease;
}

.bg-heart:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 15px rgb(255, 162, 0);
}

.generic-container {
    background-color: rgba(255 255 255 / 0.3);
    backdrop-filter: blur(5px);

    color: rgb(255, 255, 255);
    font-size: 56px;
    font-weight: 900;
    text-align: center;
    line-height: 2.2;

    padding: 55px;
    border-radius: 25px;
    border: 4px solid rgb(230, 65, 65);
    outline: 3px solid white;
}

.reveal-container {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 96px;
    font-weight: 900;

    background-color: rgb(230, 65, 65);
    color: white;
    outline: 15px solid rgb(255, 162, 0);

    cursor: pointer;

    transition: transform 1500ms ease;
}